<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>College Collective</title>
</head>
<body>
    <h1>College Collective</h1>
    <p>Welcome to the Centralized College Database Site, feel free to click around!</p>
    <nav>
        <a href="/">Home</a>
        <a href="/classes">Classes</a>
        <a href="/departments">Departments</a>
        <a href="/professors">Professors</a>
        <a href="/studentsHasProfessors">Student_has_Professors M:N</a>
    </nav>

    {{{body}}}

    <footer>
            <p><cite>&copy; 2023 Steve Rector and Aaron Anderson</cite></p>
    </footer>

</body>
</html>