<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>College Collective</title>
</head>
<body>
    <h1>College Collective</h1>
    <p>Welcome to the Centralized College Database Site, feel free to click around!</p>

    <nav>
        <a href = "/">HOME</a>
        <a href = "/classes">CLASSES</a>
        <a href = "/departments">DEPARTMENTS</a>
        <a href = "/professors">PROFESSORS</a>
        <a href = "/studentsHasProfessors">STUDENTS_HAS_PROFESSORS</a>
        <a href = "/students">STUDENTS</a>
        <a href = "/studentsHasClasses">STUDENTS_HAS_CLASSES</a>
    </nav>

    {{{body}}}
    
    <footer>
            <p><cite>&copy; 2023 Steve Rector and Aaron Anderson</cite></p>
    </footer>

</body>
</html>